<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet >
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/style.css"-->
			
			<!-- Bootstrap -->
			        <link rel="stylesheet" href="/css/theme/css/bootstrap.cosmo.min.css" type="text/css"/>
			    <link href="/css/theme/css/font-awesome.min.css" rel="stylesheet">

			    <link href="/css/theme/css/pygments/native.css" rel="stylesheet">
			    <link rel="stylesheet" href="/css/theme/css/style.css" type="text/css"/>
			        <link href="/css/extras/custom.css" rel="stylesheet">

			        <link href="/blog/atom.xml" type="application/atom+xml" rel="alternate"
			              title="Essam Mansour ATOM Feed"/>
			
		</head>
		<body>
			
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a href="/" class="navbar-brand">Essam Mansour</a>
			        </div>
			        <div class="collapse navbar-collapse navbar-ex1-collapse">
			            <ul class="nav navbar-nav">
							
				        	<li><a href="/about">About</a></li>
							<li><a href="/research">Research Projects</a></li>
							<li><a href="/publications">Publications</a></li>
							<li><a href="/contact">Contact</a></li>
			                 
			            </ul>
			            <ul class="nav navbar-nav navbar-right">
			              <li><a href="archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
			            </ul>
			        </div>
			        <!-- /.navbar-collapse -->
			    </div>
			</div> <!-- /.navbar -->
			<!-- Banner -->
			<!-- End Banner -->
			
	<div class="container">
	   <div class="row">
		
			
		<div class="col-sm-3" id="sidebar">
            <aside>
				<section >
				<img style="float: left;" alt="thumbnail of Essam" src="images/essam2.jpg"  />
				</section>
				
				<section class="well well-sm">
    				<ul class="list-group list-group-flush">
					 <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Social</span></h4>
             			<ul class="list-group" id="social">
               			 <li class="list-group-item"><a href="https://linkedin.com/in/suhaibfahmy"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></li>
               		 	 <li class="list-group-item"><a href="https://twitter.com/suhaibfahmy"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
               	   	 	 <li class="list-group-item"><a href="http://scholar.google.com/citations?user=88wtbPwAAAAJ"><i class="fa fa-graduation-cap fa-lg"></i> Google Scholar</a></li>
               	 	 	<li class="list-group-item"><a href="http://www.researchgate.net/profile/Suhaib_Fahmy"><i class="fa fa-flask fa-lg"></i> ResearchGate</a></li>
              	  		</ul>
           		 	</li>

    			</ul>
			</section>
            </aside>
        </div>
			
		  <div class="col-sm-9">
		    <section id="content" class="body">
             <div class="entry-content">
		         		
				 {{ content }}
			
			</div><!-- /.container -->
		  </section>
		</div>
			
	 </div>
  </div>
			
			
			<!--footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer-->
		</body>
	</html>
